<div class="jumbotron">
        <center><h1 class="display-4">Plataforma de Inteligencia Artificial</h1></center>
        <div class="panel-body">
        <a href="/" class="btn btn-info" role="button">Inicio</a>
        </div>
    </div>