{{> header }}
    <body>
    {{> header2 }}
    <center>
    <div class="panel panel-default">
    <div class="panel-body">
        <a href="/RLS" class="btn btn-info" role="button">Regresión Lineal Simple</a>
    
    <a href="/REXP" class="btn btn-info" role="button">Regresión Exponencial Simple</a>

    </div>
    </div>
    </center>
    
    {{> scriptsB }}
    </body>