{{> header }}
<body>
    {{> header2 }}
    <center>
    <form action="/upload" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="myFile" /> <br><br>
   <input type="submit" value="Enviar"/>
    </form>
    </center>
    

    {{> scriptsB }}
</body>